MONGO_URI=mongodb://arijitlinkedin807_db_user:<db_password>@ac-gb1tv5g-shard-00-00.ksm6qik.mongodb.net:27017,ac-gb1tv5g-shard-00-01.ksm6qik.mongodb.net:27017,ac-gb1tv5g-shard-00-02.ksm6qik.mongodb.net:27017/?ssl=true&replicaSet=atlas-q103qy-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=hjhgdsjbbjhhhei58r%#%##^#4hjehg
PORT=5000